h2{
  color: white;
  background-color: green;
  border: 5px solid black;
}

.border1{
  border:1px solid black;
  box-sizing: content-box;
  width: 50%;
}


h3{
  background-color: #ff6347;
  border:1px solid black;
  font-weight: bold;

}
td, th, table {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  color: #ff6347;
}
