h2{
  color: white;
  background-color: green;
  border: 5px solid black;
  margin: 0px;
}

.border1{
  border:1px solid black;
  box-sizing: content-box;
  width: 35%;
}


h3{
  background-color: #ff6347;
  border:3px solid black;
  font-weight: bold;
  margin: 0px;

}
td, th, table {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  color: #ff6347;
}
a{
  color: red;
}
